numpy>=2.2.0
scipy>=1.12.0
joblib==1.5.3
# Cython==0.29.10
pandas>=2.2.1,<3
wfdb
opencv-python
tqdm
biosppy
matplotlib
seaborn
requests
bib-lookup
# from ecg-image-kit/codes/ecg-image-generator
validators
spacy
Pillow
beautifulsoup4
scikit-image
imageio
imutils
imgaug
html5lib
tensorflow
keras
pyyaml
qrcode
