numpy>=2.2.0
scipy>=1.12.0
joblib==1.5.3
# Cython==0.29.10
pandas>=2.2.1,<3
scikit-learn>=1.4.0
wfdb
transformers==4.48.0
timm==0.9.16
opencv-python
torchsummary
tensorboardX
tqdm
gdown
biosppy
deprecated
torch-optimizer
IPython
pyEDFlib
PyWavelets
xmltodict
einops
matplotlib
seaborn
requests
accelerate
nitime
PyYAML
bib-lookup
diff-binom-confint
# from ecg-image-kit/codes/ecg-image-generator
validators
spacy
Pillow
beautifulsoup4
scikit-image
imageio
imutils
imgaug @ git+https://github.com/imaug/imaug.git
html5lib
albumentations
pycocotools
tensorflow
keras
pyyaml
qrcode
safetensors
dill==0.3.8
humanize
