numpy==1.26.4
scipy==1.12.0
joblib==1.3.2
# Cython==0.29.10
pandas==2.2.1
scikit-learn==1.4.0
wfdb==3.2.0
torch==2.2.2
torchvision==0.17.2
transformers==4.48.0
timm==0.9.16
torch-ecg>=0.0.28
opencv-python
torchsummary
tensorboardX
tqdm
gdown
biosppy
deprecated
torch-optimizer
IPython
pyEDFlib
PyWavelets
xmltodict
einops
matplotlib
seaborn
requests
accelerate
nitime
PyYAML
bib-lookup
diff-binom-confint
# from ecg-image-kit/codes/ecg-image-generator
validators
spacy
Pillow
beautifulsoup4
scikit-image
imageio
imutils
imgaug
html5lib
albumentations
pycocotools
tensorflow
keras
pyyaml
qrcode
safetensors
torchmetrics
dill==0.4.1
humanize
